
.linkWrapper {
  display: flex;
  align-items: center;
  gap: 0 20px;
}

.footerLinkWrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  gap: 10px 0;
}


.linkWrapper .linkButton {
  /*width: 210px;*/
  transition: 0.1s;
  color: var(--primary-color-dark);
}


.linkWrapper .linkButton:hover {
  color: var(--primary-color-dark);
  -webkit-text-stroke-width: 1px;
}


@media screen and (max-width: 920px) {
  .linkWrapper {
    position: relative;
    left: 50%;
    top: 150px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 30px);
    gap: 20px 0;
  }

  .linkWrapper .linkButton {
    font-size: 28px;
    text-align: left;
    color: var(--primary-color-dark);
  }
}