.linkButton {
  background: transparent;
  border: 0;
  outline: 0;
  color: var(--text-color-dark);
  font-size: 1rem;
  cursor: pointer;
  transition: 75ms;
}

.linkButton:hover {
  background: transparent;
  color: var(--primary-color-dark);
  font-weight: 600;
  
}


.linkButtonActive {
  composes: linkButton;
  color: var(--primary-color-dark);
  font-weight: 600;
}


.linkButtonActive:hover, .linkButtonActive:active {
  color: var(--primary-color-dark);
  font-weight: 600;
}


