.linkButton {
  background: transparent;
  border: 0;
  outline: 0;
  color: var(--text-color-white);
  font-size: 1rem;
  cursor: pointer;
  transition: 75ms;
}

.linkButton:hover {
  background: transparent;
  color: var(--text-color-light);
  /*font-weight: 600;*/
  -webkit-text-stroke-width: 1px;
  text-stroke-width: 1px;
}


.linkButtonActive {
  composes: linkButton;
  color: var(--text-color-light);
  /*font-weight: 600;*/
  -webkit-text-stroke-width: 1px;
  text-stroke-width: 1px;
}


.linkButtonActive:hover, .linkButtonActive:active {
  color: var(--text-color-light);
  -webkit-text-stroke-width: 1px;
  text-stroke-width: 1px;
}


