.coursePageWrapper {
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: 0 80px;
}


.courseRendererWrapper {
  padding-top: 24px;
  max-width: 784px;
  width: 100%;
}

.moreButtonWrapper {
  margin-bottom: 24px;
  padding-top: 24px;
}

.moreButton {
  font-size: 14px;
  line-height: 24px;
}

.backSign {
  color: var(--primary-color-dark);
}

.backSign:hover {
  color: var(--primary-color-dark);
}

.courseHeadPart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.courseFormatText {
  color: var(--primary-color-dark);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}


.courseName {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: var(--text-color-dark);
  margin-bottom: 1rem;

}


.courseInfoWrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 16px 110px;
  margin-top: 1rem;
}


.infoTitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: var(--text-color-dark);
}

.infoContent {
  composes: infoTitle;
  color: var(--primary-color-dark);
  margin-left: 10px;
}

.certification {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: var(--text-color-dark);
}


.courseDescription {
  margin-top: 24px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: var(--text-color-dark);
}

@media screen and (max-width: 768px) {
  .coursePageWrapper {
    flex-direction: column;
    gap: 40px 0;
  }

  .courseName {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
  }

  .courseDescription {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }

  .courseInfoWrapper {
    grid-template-columns: minmax(0, 1fr);
  }
}
