.wrapper {
  margin-bottom: 120px;
}

.headerContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.headerWrapper {
  max-width: 742px;
  width: 100%;
}

.header {
  font-weight: 700;
  font-size: 52px;
  line-height: 62px;
  color: var(--text-color-dark);
  margin-bottom: 1.5rem;
}

.projectsWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 0 24px;
}

.description {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: var(--text-color-light);
}

@media screen and (max-width: 920px) {
  .wrapper {
    margin-bottom: 40px;
  }

  .headerContent {
    display: block;
    margin-bottom: 24px;
  }

  .header {
    font-size: 24px;
    line-height: 32px;
    margin-left: 12px;
    margin-bottom: 1rem;
  }

  .description {
    font-size: 16px;
    line-height: 26px;
    margin-left: 12px;
  }

  .projectsWrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px 0;
  }
}