.formTitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--primary-color-dark);
  margin-bottom: 16px;
}


.formWrapper {
  width: 100%;
  max-width: 496px;
  padding: 24px;
  background: #FFFFFF;
  box-shadow: 0 100px 80px rgba(212, 212, 212, 0.07), 0 22.3363px 17.869px rgba(212, 212, 212, 0.0417275), 0 6.6501px 5.32008px rgba(212, 212, 212, 0.0282725);
  border-radius: 8px;

}

.submit {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 4px;
  line-height: 20px;
  background: var(--primary-color-light);
  border: 1px solid var(--primary-color-light);
}


.submit:hover {
  background: var(--primary-color-dark);
  border: 1px solid var(--primary-color-dark);
}

@media screen and (max-width: 920px) {
  .formWrapper {
    /*max-width: 100%;*/
  }

}