:root {
  --primary-color-dark: #F0A347;
  --text-color-dark: #1C222A;
  --primary-color-light: #F1CB78;
  --secondary-color: #fafafa;
  --text-color-light: #A2A8B0;
  --color-gray-1: #05060F;
  --color-danger: #F8413E;
  --screen-size: 100vh;
  font-size: 16px;
  --menu-z-index: 99;
  white-space: pre-line;
  --border-radius: 8px
}
